# Node dependencies
node_modules/

# Build output
build/
dist/
coverage/

# Other files
.DS_Store

# Environment variable files
service-account.json
*.key
*.p12
.env*
!.env.example

# Log files
logs/
